[run]

omit =
    command_handler.py
    */_strptime.py

include =
    test.crm_api_mock.commandhandlermock.py
    quick_script.py
	daily_script.py
	crmdata.py
	commandmapper.py
	commonfunctions.py
	modules.py
    
    
[report]
omit =
    command_handler.py
    */_strptime.py

include =
    test.crm_api_mock.commandhandlermock.py
    quick_script.py
	daily_script.py
	crmdata.py
	commandmapper.py
	commonfunctions.py
	modules.py