[run]

omit =
    requesthandler.py
    */_strptime.py

include =
    test.minicrm_api_mock.requesthandlermock.py
    quickscript.py
	dailyscript.py
	crmfacade.py
	crmrequestfactory.py
	commonfunctions.py    
    
[report]
omit =
    command_handler.py
    */_strptime.py

include =
    test.minicrm_api_mock.requesthandlermock.py
    quickscript.py
	dailyscript.py
	crmfacade.py
	crmrequestfactory.py
	commonfunctions.py